<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7eCjO9yTjIDcuP6Mb94rhh1HgGwYL8aI</string>
	<key>GCM_SENDER_ID</key>
	<string>875575292371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workoutTracker</string>
	<key>PROJECT_ID</key>
	<string>workout-app-b66dd</string>
	<key>STORAGE_BUCKET</key>
	<string>workout-app-b66dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875575292371:ios:c7e3f5571b2f21b408bf26</string>
</dict>
</plist>